<style>
    body {
        margin: 0 0 0 0;
        padding: 0 0 0 0;
        width: 100%;
        height: 100%;
    }

    div {
        position: absolute;
    }

    .UI {
        width: 100%;
        height: 100%;
    }

    .main {
        top: 0px;
        left: 0px;
        height: calc(100% - 30px);
        width: calc(100% - 250px);
    }

    .shortcut {
        bottom: 0;
        height: 30px;
        width: calc(100% - 250px);
    }

    .leftpanel {
        right: 0;
        width: 250px;
        height: 100%;
    }

    .menu {
        top: 0px;
        width: 100%;
        height: 30px;
    }

    .resuorce {
        top: 30px;
        width: 100%;
        height: 30px;
    }

    .minimap {
        top: 60px;
        width: 250px;
        height: 250px;
    }

    .buypanel {
        top: 310px;
        width: 100%;
        bottom: 0px;
    }

    .choosetype {
        top: 0px;
        height: 50px;
        width: 100%;
    }

    .listpanel {
        top: 50px;
        bottom: 0px;
        width: 100%;
    }

    .cagetory {
        width: 100%;
        height: 100%;
        overflow-y: scroll;
    }

        .cagetory ul {
            padding: 0 0 0 0;
            margin: 0 0 0 0;
        }

        .cagetory li {
            display: inline-block;
            width: 75px;
            height: 55px;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
        }

            .cagetory li canvas {
                width: 100%;
                height: 100%;
            }
</style>

<div class="UI">
    <div class="main"></div>
    <div class="shortcut">

    </div>
    <div class="leftpanel">
        <div class="menu"></div>
        <div class="resuorce"></div>
        <div class="minimap"> </div>
        <div class="buypanel">
            <div class="choosetype">

            </div>
            <div class="listpanel">
                <div class="cagetory" id="construction">
                    <ul> </ul>
                </div>

            </div>
        </div>
    </div>
</div>